nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav .links{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .links .link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    transition: .5s;
    border-radius: 5px;
    border-bottom: 5px solid ;

}
nav .links .link span{
    text-decoration: none;  
}
nav .links .link i{
    font-size: 30px;
}

nav .links .link:hover{
    background-color: rgba(113, 113, 113, 0.318);
    border-color: var(--color2);
    color: var(--color2) ;
}

.active{
    background-color: rgba(113, 113, 113, 0.318);
    border-color: var(--color2);
    color: var(--color2) !important;
}

.logout {
    outline: none;
    border: none;
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: larger;
    transition: .4s;
}
.logout:hover{
    color: #fff;
    background-color: red;
}

